@import url('../../vars.less');

.photo2D {

    cursor: default;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: @main-font-family;

    h2 {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: lighter;
        color: white;

        span {
            font-family: @header-font-family;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }
    }

    img {
        height: 100%;
        width: 100%;
    }

    .button-wrapper {
        position: absolute;
        bottom: 0;
        transform: translateY(125%);
    }

}

.photo-info {

    position: relative;

    display: flex;
    justify-content: center;
    overflow: hidden;

    background-color: #1f1f1f;
    padding: 1rem;

    border: 2px solid #7f7f7f;

    font-family: @main-font-family;
    color: white;

    .author-details {

        z-index: 1;

        display: flex;
        flex-direction: column;

        h2 {
            margin: 0.5rem;
            font-family: @header-font-family;
        }

        .tags {
            font-size: 1.5rem;
        }

    }

    .comments-wrapper {

        z-index: 1;

        background-color: #cfcfcfcf;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        h2 {
            font-family: @header-font-family;
            margin: 1rem 0;
        }

        .comments {

            overflow-y: scroll;
            height: 100%;
            width: 100%;

            .comment {
                margin: 1rem;
                font-size: 1.25rem;
                color: black;

                b {
                    margin: 1rem
                }
            }
        }


        .write-comment {

            display: flex;
            align-items: flex-end;

            margin: 1rem;
            background-color: #ffffffaf;
            border-radius: 10px;
            border: 2px dashed #afafaf;

            textarea {
                flex-grow: 1;
                margin: 1rem;
                border-radius: 10px;
                border: 1px solid black;
                height: 4rem;
                outline: none;
                font-size: 1.25rem;
                width: 100%;
                padding: 0.5rem;
                font-family: @main-font-family;
                resize: none;
            }

            p {
                font-family: @main-font-family;
                font-size: 1.2rem;
                position: relative;
                top: 1rem;
                text-align: center;
            }

        }

    }
}

.italics {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: @main-font-family;
    font-style: italic;
}

@media (prefers-color-scheme: light) {

    .photo2D>div>h2 {
        color: black;
    }

    .photo-info {
        background-color: #5f5f5f;
    }
}

@media (min-aspect-ratio:1/1) {

    .photo2D,
    .photo-info {
        margin: 0.5rem;
        transition: all 200ms;
    }

    .photo2D {
        max-width: 50vw;
        max-height: 80vh;
        min-width: 40vw;
    }

    .photo-info {

        max-width: 25vw;
        min-width: 10vw;

        flex-direction: column;
        justify-content: flex-start;

        .author-details,
        .comments-wrapper {
            align-items: center;
            width: 100%;
        }

        .comments-wrapper {
            margin-top: 1rem;
            height: 100%;
        }
    }
}

@media (max-aspect-ratio:1/1) {


    .photo2D {
        max-width: 65vw;
        max-height: 70vh;
        min-height: 30vh;

        margin-bottom: 1.25rem;
    }

    .photo-info {

        max-height: 25vh;
        margin-top: 1.25rem;
        padding: 0;

        div {
            margin: 1rem;
        }

        .author-details {
            text-align: start;
        }

    }

}