@import url('../../vars.less');

.photo2D {

    cursor: default;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: @main-font-family;

    h2 {
        margin: 1rem;
        font-size: 1.2rem;
        font-weight: lighter;
        color: white;

        span {
            font-family: @header-font-family;
            font-weight: bolder;
            font-style: italic;
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .button-wrapper {
        position: absolute;
        bottom: 0;
        transform: translateY(125%);
    }

}

.photo-info {

    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    align-items: center;
    background-color: @main-background-color;


    * {
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    h2 {
        font-family: @header-font-family;
        margin: 0.5rem;
    }

    .author-details {

        display: flex;
        flex-direction: column;
        align-items: center;

        z-index: 1;
        width: 100%;
        padding: 1rem;

        .tags {
            font-size: 1.5rem;
            margin: 1rem;
            max-width: 50%;
            text-align: center;
            // font-family: @main-font-family;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;

            button {
                margin: 0.25rem;
            }

        }
    }

    .comments-wrapper {

        display: flex;
        flex-direction: column;
        align-items: center;

        z-index: 1;
        // margin-top: 1rem;
        width: 100%;

        // border-radius: 10px 10px 0 0;
        border-top: 2px dashed black;
        background-color: white;
        padding: 1rem;

        .write-comment {

            position: relative;
            bottom: 0;

            z-index: 1;
            min-width: 80%;
            width: fit-content;
            max-width: 95%;
            height: fit-content;

            display: flex;
            align-items: stretch;
            justify-content: space-evenly;
            align-content: stretch;
            gap: 0 1rem;

            padding: 1rem;
            border-radius: 10px;
            border: 1px dashed black;
            background-color: #ffffffcf;

            transition: all 300ms;

            textarea {
                resize: none;
                border: 1px solid black;
                border-radius: 10px;
                padding: 0.5rem;
                outline: none;
                flex-grow: 1;
                font-family: @main-font-family;
            }

            textarea:focus {
                outline: 2px solid #cfcfcf;
            }

            div {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem 0;

                p {
                    height: 1rem;
                    font-family: @main-font-family;
                }
            }
        }

        .write-comment.no-login {
            align-items: center;

            p {
                font-family: @main-font-family;
                font-size: 1.125rem;
            }
        }

        .comments {
            font-family: @main-font-family;
            width: 80%;
            margin: 1rem;

            .comment {

                margin: 1rem;


                p button {
                    margin: 0 0 0 0.5rem;
                }
            }

            .no-comments {
                text-align: center;
            }

        }
    }
}


// .italics {
//     font-size: 1.2rem;
//     margin-bottom: 1rem;
//     font-family: @main-font-family;
//     font-style: italic;
// }

@media (prefers-color-scheme: light) {

    .photo2D>div>h2 {
        color: black;
    }

    // .photo-info {
    //     background-color: #3f3f3f;
    // }
}

@media (min-aspect-ratio:1/1) {

    .photo2D,
    .photo-info {
        margin: 0.5rem;
    }

    .photo2D {
        max-height: 80vh;

    }

    .photo-info {

        max-width: 25vw;
        min-width: 20vw;
        margin-top: 5.8rem;

    }
}

@media (max-aspect-ratio:1/1) {

    .photo2D {

        width: 100%;
        margin-bottom: 3rem;
    }

    .photo-info {

        padding: 0;
        width: 100%;

    }

}