@import url('../../vars.less');

* {
    margin: 0
}

h1 {
    color: white;
}

// h1.app-title {
//     font-family: @header-font-family;
//     letter-spacing: 5px;
//     width: fit-content;
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
// }

canvas {
    width: 100vw;
    height: 100vh
}

body {
    background-color: @dark-mode-background;
    overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: @light-mode-background;
    }
}