@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: url(./assets/fonts/Lato-Italic.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    src: url(./assets/fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    src: url(./assets/fonts/PlayfairDisplay-Italic.ttf);
}

@main-background-color: #ffffff;
@main-font-color: #000000;
@header-font-family: 'Playfair Display', serif;
@main-font-family: 'Lato', sans-serif;
@light-mode-background: #afafaf;
@dark-mode-background: #111111;


html {
    font-size: 15px;
}

@media only screen and (max-width:1200px),
(max-height:1200px) {
    html {
        font-size: 10px;
    }
}