@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@main-background-color: #ffffff;
@main-font-color: #000000;
@header-font-family: 'Playfair Display', serif;
@main-font-family: 'Lato', sans-serif;
@light-mode-background: #afafaf;
@dark-mode-background: #111111;


html {
    font-size: 15px;
}

div {
    cursor: default;
}

@media only screen and (max-width:1200px),
(max-height:1200px) {
    html {
        font-size: 10px;
    }
}